process announce-routes {
  run /etc/exabgp/scripts/{{ pillar['exabgp']['check_script']['name'] }};
  encoder {{ pillar['exabgp']['check_script']['encoder'] }};
}

{% for peer in pillar['exabgp']['peers'] %}
neighbor {{ peer['ip'] }} {
    local-address {{ grains['bgp']['localip'] }};
    local-as {{ pillar['exabgp']['asn'] }};
    peer-as {{ peer['asn'] }}; 

    api {
        processes [ announce-routes ];
   }

}
{% endfor %}
